<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="avs_ftr_l">Copyrights @ All Right Reserved</div>
        </div>
        <div class="col-md-6 ">
          <div class="avs_ftr_r">Maintained By <a href="http://www.availtechnologies.net/" target="_blank">Avail Technologies</a></div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- #page --> 

<script type="text/javascript" src="/js/jquery.min.js"></script> 

<script type="text/javascript" src="/js/owl.carousel.min.js"></script> 

<script type="text/javascript" src="/js/wow.min.js"></script> 

<script type="text/javascript" src="/js/custom.js"></script>
<script>
  window.addEventListener('load', (event) => {
    
      document.getElementById("ldw").classList.add("loadedw");
      
console.log('page is fully loaded');
});
  window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOMContentLoaded loaded');
   
      document.getElementById("ldw").classList.add("loadedw");
      
console.log('page is fully loaded');
});
 
</script>
</body>
</html>
