<!DOCTYPE html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>welcome to Online shopping madurai</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/animate.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/font-custom.css"/>
<link rel="stylesheet" type="text/css" href="/css/owl-carousel.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/colors/blue.css"/>
<link rel="stylesheet" type="text/css" href="/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/images/fav-icon.png">
</head>

<body class="page home page-template-default">
  <style>
   
    .loading_set{
        display:block;
        width:100vw;
        height: 100vh;
        position: fixed;
        z-index: 99999;
        left:0px;
        top:0px;
        background-color: #fff;
    }
    .loading_set img{
        display:block;
        width:100%;
        height: 100vh;
      object-fit: contain;
    }
    .loadedw{
        display: none !important;
    }
                </style>
                 <div id="ldw" class="loading_set"><img src="/images/loading.gif"></div>
<div id="page" class="hfeed site">
  <div class="top-bar">
    <div class="container">
      <nav>
        <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
          <li class="menu-item animate-dropdown top_bar_txt">Welcome to Online Shopping Madurai</li>
        </ul>
      </nav>
      <nav>
        <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
          <li class="menu-item animate-dropdown"><a  href="contact.html"><i class="fal fa-map-marker-alt"></i>Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- /.top-bar -->
  
  <header id="masthead" class="site-header header-v1">
    <div class="container">
      <div class="row">
      <div class="header-logo">
        <div class="header-logo-link">
          <a href="/"><img src="/images/logo.png" class="img-responsive" alt=" "> </a></div></div>
        <div class="avs_tp_amz_sec mnu_sec" style="display: none;">
          <div class="avs_tp_amz_btn"><img src="/images/amz_icon.jpg">
            <div class="avs_tp_amz_btn_txt">Shop by<div class="avs_tp_amz_btn_txt2">Amazon</div>
          </div><i class="fal fa-arrow-down"></i></div>
          <div class="avs_tp_big_mnu">
            <div class="avs_tp_big_mnu_lid hdr">Amazon</div><a class="avs_tp_big_mnu_lid lin">1Television</a> <a class="avs_tp_big_mnu_lid lin">2Television</a> <a class="avs_tp_big_mnu_lid lin">3Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a><div class="avs_tp_big_mnu_lid hdr">Electronics</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid hdr">Electronics</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid hdr">Electronics</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div><div class="avs_tp_big_mnu_lid lin">Television</div></div></div>
            <div class="avs_tp_flp_sec">
              <div class="avs_tp_flp_btn"><img src="/images/flp_icon.png">
                <div class="avs_tp_flp_btn_txt">Shop by<div class="avs_tp_amz_btn_txt2">Flipkart</div></div>
                <i class="fal fa-arrow-down"></i></div>
                <div class="avs_tp_srch_set"><input type="text" id="flp_search_bx" placeholder="i wanna buy...." class="avs_tp_srch_txtbx">
                  <a href="" class="avs_tp_srch_btn ld"><i class="fal fa-search"></i></a></div>
                  <div class="avs_tp_big_mnu">
<% if(Object.keys(menu_dat).length > 0) {%>
                    <% Object.keys(menu_dat).forEach(function(apiCat, index) { %>
   

                      <a href="<%= menu_dat[apiCat].availableVariants["v1.1.0"].get.split("https://affiliate-api.flipkart.net")[1].replace(/\?/g, "%3F") %>" class="avs_tp_big_mnu_lid lin ld"><%= menu_dat[apiCat].apiName.replace(/_/gi, ' ') %></a>
                        
                  
                  
                          <% }); %>


<% }else{ %>
<h2>Kindly reload to view menu</h2>
<% }%>

                </div>
                </div>
                </div>
                </div>
              </header>
