<!DOCTYPE html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>welcome to Online shopping madurai</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/animate.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/font-custom.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/owl-carousel.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/colors/blue.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/all.min.css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="images/fav-icon.png">
</head>

<body class="page home page-template-default">
<div id="page" class="hfeed site">
  <div class="top-bar">
    <div class="container">
      <nav>
        <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
          <li class="menu-item animate-dropdown top_bar_txt">Welcome to Online Shopping Madurai</li>
        </ul>
      </nav>
      <nav>
        <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
          <li class="menu-item animate-dropdown"><a  href="contact.html"><i class="fal fa-map-marker-alt"></i>Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- /.top-bar -->
  
  <header id="masthead" class="site-header header-v1">
    <div class="container">
      <div class="row"> 
        
        <!-- ============================================================= Header Logo ============================================================= -->
        
        <div class="header-logo"> <a href="index.html" class="header-logo-link" > <img src="images/logo.png" class="img-responsive"> </a> </div>
        <!-- ============================================================= Header Logo : End============================================================= -->
        
        <div class="avs_tp_amz_sec mnu_sec">
          <div class="avs_tp_amz_btn"><img src="images/amz_icon.jpg">
            <div class="avs_tp_amz_btn_txt">Shop by
              <div class="avs_tp_amz_btn_txt2">Amazon</div>
            </div>
            <i class="fal fa-arrow-down"></i> </div>
          <div class="avs_tp_big_mnu" >
            <div class="avs_tp_big_mnu_lid hdr">Amazon</div>
            <a class="avs_tp_big_mnu_lid lin">1Television</a> <a class="avs_tp_big_mnu_lid lin">2Television</a> <a class="avs_tp_big_mnu_lid lin">3Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a>
            <div class="avs_tp_big_mnu_lid hdr">Electronics</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid hdr">Electronics</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid hdr">Electronics</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
            <div class="avs_tp_big_mnu_lid lin">Television</div>
          </div>
        </div>
        <div class="avs_tp_flp_sec">
          <div class="avs_tp_flp_btn"><img src="images/flp_icon.png">
            <div class="avs_tp_flp_btn_txt">Shop by
              <div class="avs_tp_amz_btn_txt2">Flipkart</div>
            </div>
            <i class="fal fa-arrow-down "></i> </div>
        </div>
        <ul class="avs_tp_mnu_lst flp_sec_mnu">
          <li class="avs_tp_mnu mnu_sec"><i class="far fa-print"></i>
            <div class="avs_tp_mnu_rht">
              <div class="avs_tp_mnu_rht_h1">Flipkart</div>
              Electronics</div>
            <i class="fal fa-plus ar_ico"></i>
            <div class="avs_tp_big_mnu" >
              <a href="product.html" class="avs_tp_big_mnu_lid hdr">Flipkart</a>
              <a class="avs_tp_big_mnu_lid lin">1Television</a> <a class="avs_tp_big_mnu_lid lin">2Television</a> <a class="avs_tp_big_mnu_lid lin">3Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a> <a class="avs_tp_big_mnu_lid lin">Television</a>
              <div class="avs_tp_big_mnu_lid hdr">Electronics</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid hdr">Electronics</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid hdr">Electronics</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
              <div class="avs_tp_big_mnu_lid lin">Television</div>
            </div>
          </li>
          <li class="avs_tp_mnu mnu_sec"><i class="far fa-television"></i>
            <div class="avs_tp_mnu_rht">
              <div class="avs_tp_mnu_rht_h1">Flipkart</div>
              Tv's &amp; Appliances</div>
          </li>
          <li class="avs_tp_mnu mnu_sec"><i class="far fa-male"></i>
            <div class="avs_tp_mnu_rht">
              <div class="avs_tp_mnu_rht_h1">Flipkart</div>
              Men's</div>
          </li>
          <li class="avs_tp_mnu mnu_sec"><i class="far fa-female"></i>
            <div class="avs_tp_mnu_rht">
              <div class="avs_tp_mnu_rht_h1">Flipkart</div>
              Women's</div>
          </li>
          <li class="avs_tp_mnu mnu_sec"><i class="far fa-chair"></i>
            <div class="avs_tp_mnu_rht">
              <div class="avs_tp_mnu_rht_h1">Flipkart</div>
              Furniture</div>
          </li>
        </ul>
      </div>
      <!-- /.row --> 
      
    </div>
  </header>